<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
<form class="form-horizontal"  method="post">
<fieldset>

<!-- Form Name -->
<legend>Create Product</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">ProductName</label>  
  <div class="col-md-4">
  <input id="textinput" name="productname" type="text" placeholder="Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Description</label>  
  <div class="col-md-4">
  <input id="textinput" name="productdec" type="text" placeholder="Description" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">ProductQantity</label>  
  <div class="col-md-4">
  <input id="textinput" name="productqantity" type="text" placeholder="Quantity" class="form-control input-md">
 
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">ProductPrice</label>  
  <div class="col-md-4">
  <input id="textinput" name="price" type="text" placeholder="Price" class="form-control input-md" required="">
   
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Category</label>  
  <div class="col-md-4">
  <input id="textinput" name="category" type="text" placeholder="Category" class="form-control input-md" required="">
  
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Condition</label>
  <div class="col-md-4">
    <select name="condiation" class="form-control" id="selectbasic">
      <option value="1">NEW</option>
      <option value="2">OLD</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary">CREATE PRODUCT</button>
  </div>
</div>

</fieldset>
</form>

  </body>
</html>



