<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- user registration form using bootstrap -->
<html>

	<head>
		<style>
			.error {color: #FF0000;}
			.success {color: green;}
			body{
				 background-color: #f1f1f1;
			}
		</style>
		<% include navbar.html %>
	</head>
	<body>
		
		<form class="form-horizontal" name="testForm" id="testForm" method="post" action="">
			<div class="form-group">
				<label class="control-label col-sm-2"><h2>Welcome!!!</h2></label>
			</div>
	
			<p class="col-sm-offset-1">Please, fill in the registration form!</p>
			<div class="form-group">
				<label class="control-label col-sm-2" >Username:</label> 
				<span class="error"> </span>
				<div class="col-xs-3">
					<input type="text" class="form-control" name="user_name" id="user_name" >
				</div>
			</div>
				<div class="form-group">
				<label class="control-label col-sm-2" >first name:</label> 
				<span class="error"> </span>
				<div class="col-xs-3">
					<input type="text" class="form-control" name="first_name" id="first_name" >
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">last name:</label> 
				<span class="error"> </span>
				<div class="col-xs-3">
					<input type="text" class="form-control" name="last_name" id="last_name" >
				</div>
			</div>
	
			</div>

		
			<div class="form-group">
				<label class="control-label col-sm-2">Email:</label>
				<span class="error"> </span> 
				<div class="col-xs-3">
					<input type="text" class="form-control" name="email" id="email">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Password:</label>
				<span class="error"> </span>
				<div class="col-xs-3">
					<input type="password" class="form-control" name="password" id="password">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Repeat Password:</label>
				<span class="error" id="pswRepeatErrMsg"> </span>
				<span class="registrationFormAlert error" id="divCheckPasswordMatch"></span> 
				<div class="col-xs-3">
					<input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat">
				</div>
			</div>
			<br>
			<p class="col-sm-offset-1">Please fill in your address!</p>
			<!-- Ideally address would be on a seperate page. -->
			<div class="form-group">
				<label class="control-label col-sm-2">Street:</label>
				<span class="error"> </span> 
				<div class="col-xs-3">
					<input type="text" class="form-control" name="street" id="street">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">City:</label>
				<span class="error"> </span> 
				<div class="col-xs-3">
					<input type="text" class="form-control" name="city" id="city">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">postal code:</label>
				<span class="error"> </span> 
				<div class="col-xs-3">
					<input type="text" class="form-control" name="postal_code" id="postal_code">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Country:</label>
				<span class="error"> </span> 
				<div class="col-xs-3">
					<input type="text" class="form-control" name="country" id="country">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					  		<input type="submit" class="btn btn-success" name="submit" id="submit" value="Register me">
				</div>
			</div>
		</form>
	</body>
</html>

<!-- Used to check if the passwords match. TODO: change color to green if they do match -->
<script type="text/javascript">
	$(function() {
		$("#passwordRepeat").keyup(function() {
			var password = $("#password").val();
			$("#divCheckPasswordMatch").html(password == $(this).val() ? "Passwords match." : "Passwords do not match!");
			$('#pswRepeatErrMsg').hide();
		});

	});
</script>