 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



 <style type="text/css">
 /*I suppose at one point we should actually define style sheets. Not today though. */
 body{
 	background-color: #f1f1f1;
 }
 .jumbotron {
 	background-color:#C0C0C0 !important; 

 }
 img{
 	background-color: #999999;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
 }

 </style>
<% include navbar.html %>

 <div class="container">
 	<div class="jumbotron">
 		<h1>Millionaire maker</h1>
 		<p>Without wanting to brag or boast, we can humbly say that we have the capacity to enable you to become a millionaire! Now who doesn't want to make a million??? Not you!!! <a href="/Createproduct">$ Start Here $</a> </p>
 	</div>
 
	<% for(var i=0; i< 4 ; i++) {%>
		
 	<!-- Template for all products -->
 	<div class="thumbnail" style="border-radius: 10px;">
 		<!-- Image -->
 		<div class="col-sm-3 col-md-3 col-lg-3">
 			<div class="row">
 				<img src="http://placehold.it/200x200">
 			</div>
 		</div>
 		<!-- Product name - description -->
 		<div class="col-sm-8 col-md-8 col-lg-8">
 			<div class="row"> 
 				<div class="caption ">
 					<h3><a href="#product-page"><%- products[i].productName %>
 					
 					</a><small><a href=""><%- products[i].loginUserName %></a></small></h3>
 					<%- products[i].description %><!-- TODO: we'll need to limit the text to about this much. -->
 					<p></p>
 				</div>
 			</div>
 			<div class="row">
 				<div class="caption">
 					<h4>Price: <medium class="text-success"data-toggle="tooltip"><%- products[i].price %>

 					</medium></h4>
 				</div>
 			</div>
 		</div>
 		<div class="row"> <!-- magic row -->
 		</div><!-- /thumbnail -->

 	</div>
 	<% } %>