<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- user registration form using bootstrap -->
<html>

	<head>
		 <style type="text/css">
			 body{
			 	background-color: #f1f1f1;
			 }
			 
 		</style>
		<% include navbar.html %>
		
	</head>
	<body>
		<form class="form-horizontal" name="testForm" id="testForm" method="post" action="/login">
			<div class="form-group">
				<label class="control-label col-sm-2"><h2>Please Login</h2></label>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="">I am not a registered user.</a>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" >Username:</label> 
				<div class="col-xs-3">
					<input type="text" class="form-control" name="user_name" id="user_name" >
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Password:</label>
				<div class="col-xs-3">
					<input type="password" class="form-control" name="password" id="password">
				</div>
			</div>
			<input type="hidden" name="token" value="<?=$token?>"/>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					  		<input type="submit" class="btn btn-warning" name="submit" id="submit" value="Login">
                    
                </div>
			</div>

		</form>
	</body>
</html>
</script>