<!DOCTYPE html>
<html>
  <head>
    <title><%= test %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= test %></h1>
    <p>Welcome to <%= test %></p>
  </body>
</html>
